USE [master]
GO
/****** Object:  Database [Assignment2_HuynhTuanVu]    Script Date: 2/6/2021 9:52:24 PM ******/
CREATE DATABASE [Assignment2_HuynhTuanVu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment2_HuynhTuanVu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Assignment2_HuynhTuanVu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignment2_HuynhTuanVu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Assignment2_HuynhTuanVu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment2_HuynhTuanVu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment2_HuynhTuanVu]
GO
/****** Object:  Table [dbo].[answer]    Script Date: 2/6/2021 9:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer](
	[answerID] [int] IDENTITY(1,1) NOT NULL,
	[answer_content] [varchar](1000) NOT NULL,
	[answer_correct] [bit] NOT NULL,
	[questionID] [int] NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[answerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question]    Script Date: 2/6/2021 9:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[questionID] [int] IDENTITY(1,1) NOT NULL,
	[question_content] [varchar](1000) NOT NULL,
	[createDate] [date] NOT NULL,
	[subID] [varchar](20) NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz]    Script Date: 2/6/2021 9:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz](
	[quiz_takeID] [int] NOT NULL,
	[quizDetailID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[quiz_takeID] ASC,
	[quizDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_take]    Script Date: 2/6/2021 9:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_take](
	[quiz_takeID] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NULL,
	[total] [int] NULL,
	[h_start] [datetime] NULL,
	[h_end] [datetime] NULL,
	[h_open] [datetime] NULL,
	[status] [bit] NULL,
	[subID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[quiz_takeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quizDetail]    Script Date: 2/6/2021 9:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quizDetail](
	[quizDetailID] [int] IDENTITY(1,1) NOT NULL,
	[questionID] [int] NULL,
	[yourChoice] [int] NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[quizDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 2/6/2021 9:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[roleID] [varchar](20) NOT NULL,
	[roleName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject]    Script Date: 2/6/2021 9:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject](
	[subID] [varchar](20) NOT NULL,
	[subName] [varchar](50) NOT NULL,
	[numofQuestion] [int] NOT NULL,
	[time] [int] NOT NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/6/2021 9:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[email] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[roleID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[answer] ON 

INSERT [dbo].[answer] ([answerID], [answer_content], [answer_correct], [questionID], [status]) VALUES (1, N'3', 1, 1, 1)
INSERT [dbo].[answer] ([answerID], [answer_content], [answer_correct], [questionID], [status]) VALUES (2, N'21', 0, 1, 1)
INSERT [dbo].[answer] ([answerID], [answer_content], [answer_correct], [questionID], [status]) VALUES (3, N'1', 0, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[answer] OFF
SET IDENTITY_INSERT [dbo].[question] ON 

INSERT [dbo].[question] ([questionID], [question_content], [createDate], [subID], [status]) VALUES (1, N'15/5', CAST(N'2021-01-28' AS Date), N'1', 1)
INSERT [dbo].[question] ([questionID], [question_content], [createDate], [subID], [status]) VALUES (10, N'1+2', CAST(N'2021-01-28' AS Date), N'1', 1)
INSERT [dbo].[question] ([questionID], [question_content], [createDate], [subID], [status]) VALUES (11, N'11+1', CAST(N'2021-01-28' AS Date), N'1', 1)
SET IDENTITY_INSERT [dbo].[question] OFF
INSERT [dbo].[quiz] ([quiz_takeID], [quizDetailID]) VALUES (29, 310)
INSERT [dbo].[quiz] ([quiz_takeID], [quizDetailID]) VALUES (29, 311)
INSERT [dbo].[quiz] ([quiz_takeID], [quizDetailID]) VALUES (29, 312)
GO
SET IDENTITY_INSERT [dbo].[quiz_take] ON 

INSERT [dbo].[quiz_take] ([quiz_takeID], [email], [total], [h_start], [h_end], [h_open], [status], [subID]) VALUES (29, N'test@gmail.com', 0, CAST(N'2021-01-30T23:34:42.640' AS DateTime), CAST(N'2021-01-31T00:19:42.640' AS DateTime), CAST(N'2021-01-30T23:34:42.640' AS DateTime), 1, N'1')
INSERT [dbo].[quiz_take] ([quiz_takeID], [email], [total], [h_start], [h_end], [h_open], [status], [subID]) VALUES (30, N'test@gmail.com', 0, CAST(N'2021-01-30T23:44:47.717' AS DateTime), CAST(N'2021-01-31T00:29:47.717' AS DateTime), CAST(N'2021-01-30T23:44:47.717' AS DateTime), 1, N'1')
INSERT [dbo].[quiz_take] ([quiz_takeID], [email], [total], [h_start], [h_end], [h_open], [status], [subID]) VALUES (31, N'test@gmail.com', 0, CAST(N'2021-01-30T23:46:07.910' AS DateTime), CAST(N'2021-01-31T00:31:07.910' AS DateTime), CAST(N'2021-01-30T23:46:07.910' AS DateTime), 1, N'1')
SET IDENTITY_INSERT [dbo].[quiz_take] OFF
SET IDENTITY_INSERT [dbo].[quizDetail] ON 

INSERT [dbo].[quizDetail] ([quizDetailID], [questionID], [yourChoice], [email]) VALUES (310, 25, 0, N'test@gmail.com')
INSERT [dbo].[quizDetail] ([quizDetailID], [questionID], [yourChoice], [email]) VALUES (311, 12, 0, N'test@gmail.com')
INSERT [dbo].[quizDetail] ([quizDetailID], [questionID], [yourChoice], [email]) VALUES (312, 11, 0, N'test@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[quizDetail] OFF
INSERT [dbo].[roles] ([roleID], [roleName]) VALUES (N'1', N'ADMIN')
INSERT [dbo].[roles] ([roleID], [roleName]) VALUES (N'2', N'STUDENT')
INSERT [dbo].[subject] ([subID], [subName], [numofQuestion], [time], [status]) VALUES (N'1', N'Math', 20, 20, 1)
INSERT [dbo].[subject] ([subID], [subName], [numofQuestion], [time], [status]) VALUES (N'2', N'PRJ', 25, 25, 1)
INSERT [dbo].[subject] ([subID], [subName], [numofQuestion], [time], [status]) VALUES (N'3', N'CEA', 25, 25, 1)
INSERT [dbo].[users] ([email], [name], [password], [status], [roleID]) VALUES (N'a@gmail.com', N'A', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'NEW', N'2')
INSERT [dbo].[users] ([email], [name], [password], [status], [roleID]) VALUES (N'admin@gmail.com', N'Admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'NEW', N'1')
INSERT [dbo].[users] ([email], [name], [password], [status], [roleID]) VALUES (N'test@gmail.com', N'Test', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'NEW', N'2')
ALTER TABLE [dbo].[answer]  WITH CHECK ADD FOREIGN KEY([questionID])
REFERENCES [dbo].[question] ([questionID])
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD FOREIGN KEY([subID])
REFERENCES [dbo].[subject] ([subID])
GO
ALTER TABLE [dbo].[quiz]  WITH CHECK ADD FOREIGN KEY([quiz_takeID])
REFERENCES [dbo].[quiz_take] ([quiz_takeID])
GO
ALTER TABLE [dbo].[quiz]  WITH CHECK ADD FOREIGN KEY([quizDetailID])
REFERENCES [dbo].[quizDetail] ([quizDetailID])
GO
ALTER TABLE [dbo].[quiz_take]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[users] ([email])
GO
ALTER TABLE [dbo].[quiz_take]  WITH CHECK ADD FOREIGN KEY([subID])
REFERENCES [dbo].[subject] ([subID])
GO
ALTER TABLE [dbo].[quizDetail]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[users] ([email])
GO
ALTER TABLE [dbo].[quizDetail]  WITH CHECK ADD FOREIGN KEY([questionID])
REFERENCES [dbo].[question] ([questionID])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[roles] ([roleID])
GO
USE [master]
GO
